/target
Cargo.lock
config.toml
*.nzb
*.mkv
test_results/
screenshot-*.png
Terapia atraves da Escrita*/
file10G.bin
file1G.bin
file5G.bin
*.par2
/bench_par2_out/
/bench_pesto_vs_parpar.sh
/file10M.bin
